.contain{
    background-color:#E65610;
    width:358px;
    height: 80px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 50px;
    border-radius: 20px;
}


.posit{
    position: absolute;
    left:50%;
    top:5%;
}