    body{
        background-image:url('./background/castle_summer-512.min.png');
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover; 
        display: flex;
        text-align: left;
        font-family: 'Noto Serif TC', serif;
    };
    






#textcontainer{
    width: 1520px;
    height: 600px;
    background: #DCCF79;
    border:2px solid #22E15A;
    position: absolute;
    top:154px;
    left: 0px;
    padding:0px;
    margin:0px;
    opacity: 0.9;
    color:#824135;
   
}

#footer{
    opacity: 0.85;
    padding:0;
    position: absolute;
    bottom:0;
    right:0;
    
}

